extends ../layout/layout

block css
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500&display=swap" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
block body
     div(class="full-screen-container") 
        div(class="login-container")
            h3(class="login-title") Welcome 欢迎
            form(action='/admin/login' method="POST") 
                div(class="input-group")
                    label Username / 用户名 
                    input(type="text" id="username" name="username" value=admin)
                div(class="input-group")    
                    label Password / 密码 
                    input(type="password" id="password" name="password")
                if messages.error
                    div(class="error-message") #{messages.error}
                button(type="submit" class="login-button") Log in / 登入
            