div(class="sign-up-input-group")
    input(name="email" id="email" placeholder="邮箱地址" value=basicUser.email)          
div(class="sign-up-input-group")
    input(name="password1" id="password1" type="password" placeholder="输入密码")
div(class="sign-up-input-group")
    input(name="password2" id="password2" type="password" placeholder="再次输入密码确认")