<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    include ../public/js/gtag.js

    block css
    block script
    
    if title
        <title>#{title} - My Site</title>
    else
        <title>My Site</title>   
</head>
<body>
    block body
</body>
</html>