* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html,
body {
  margin: 0;
}

.signout-button {
  border: 1px solid hsla(201, 100%, 50%, 0.507);
  outline: none;
  margin: 0;
  padding: 10px;
  background-color: hsla(201, 100%, 50%, 0.8);
  color: white;
  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;
}

.signout-button:hover {
  background-color: hsla(201, 100%, 69%, 0.959);
}

.signout-button:active {
  background-color: hsla(201, 100%, 50%, 0.5);
  color: black;
}
