label Email / 邮箱地址
input(type="email" name="email" id="email" value = basicUser.email required)

label Password / 密码
input(type='password' name='password' id='password' required)

label Confirm Password / 确认密码
input(type='password' name='confirm_password' id='confirm_password' required)