extends ../layout/layout

block script
    <script defer src="/js/google/google-auth.js"></script>
    <script defer src="https://apis.google.com/js/platform.js?onload=init"></script>

block body
    include ../partials/_signout_button