extends ../layout/layout

block css
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500&display=swap" rel="stylesheet">
    <link href="/css/user.css" rel="stylesheet">
block body
     div(class="full-screen-container") 
        div(class="login-container")
            h3(class="login-title") Welcome 欢迎
            form(action='/user' method="POST") 
                div(class="input-group")
                    label Email / 邮箱地址 
                    input(type="email" id="email" name="email" value=email)
                div(class="input-group")    
                    label Password / 密码 
                    input(type="password" id="password" name="password")
                include ../partials/_errorMessages
                button(type="submit" class="login-button") Sign in / 登入