extends ../layout/layout

include ../partials/_user_mixin

block css
     +font-css
     <link href="/css/user_signup.css" rel="stylesheet">

block script 
     <script defer src="https://www.recaptcha.net/recaptcha/api.js?hl=zh-CN"></script>

block body
     div(class="full-screen-container")
          div(class="sign-up-container")
               div(class="sign-up-title") 欢迎
               include ../partials/_errorMessages
               form(action="/user/signup", method="POST")
                    div(class="sign-up-input-group")
                         input(name="email" id="email" 
                         placeholder="邮箱地址" value=basicUser.email)          
                    div(class="sign-up-input-group")
                         input(name="password1" id="password1" 
                         placeholder="输入密码")
                    div(class="sign-up-input-group")
                         input(name="password2" id="password2" 
                         placeholder="再次输入密码确认")
                    div(class="recaptcha")     
                         include ../partials/_recaptchaV2
                    button(class="sign-up-button") 提交
               div(class="cancel-link")
                    a(href="/user") 放弃