extends ../layout/layout

block css
     <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500&display=swap" rel="stylesheet">
     <link href="/css/user_signup.css" rel="stylesheet">

block script 
     <script defer src="https://www.recaptcha.net/recaptcha/api.js?hl=zh-CN"></script>

block body
     div(class="full-screen-container")
          div(class="sign-up-container")
               div(class="sign-up-title") Welcome
               include ../partials/_errorMessages
               form(action="/user/signup", method="POST")
                    div(class="sign-up-input-group")
                         input(name="email" id="email" 
                         placeholder="Email 邮箱地址" value=basicUser.email)          
                    div(class="sign-up-input-group")
                         input(name="password1" id="password1" 
                         placeholder="Password 输入密码")
                    div(class="sign-up-input-group")
                         input(name="password2" id="password2" 
                         placeholder="Confirm password 再次输入密码确认")
                    div(class="recaptcha")     
                         include ../partials/_recaptchaV2
                    button(class="sign-up-button") Sign up ／ 提交
               div(class="cancel-link")
                    a(href="/user") Cancel / 放弃